<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment Details</title>
  </head>
  <body>
    <h1>Comment Details</h1>

    <section>
      <div class="comment">
        <div class="header">
          <h1 class="comment-name"><%= foundComment.name %></h1>
        </div>
        <div class="body">
          <p class="comment-body"><%= foundComment.body %></p>
        </div>
        <div class="footer">
          <span class="comment-email"><%= foundComment.email %></span>
          <a href="/comments">View All</a>
          <a href="/comments/<%= foundComment.id %>/edit">Edit</a>
        </div>
      </div>
    </section>
  </body>
</html>
